includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    excludePaths:
        - Modules/Migration/*
        - Modules/*/database*
        - Modules/*/tests/*

    paths:
        - app/
        - Modules/

    scanFiles:
        #- _ide_helper.php
        #- _ide_helper_models.php
        #- .phpstorm.meta.php

    level: 8
