includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    excludePaths:
        - Modules/Migration/*
        - Modules/*/database*
        - Modules/*/tests/*

    paths:
        - app/
        - Modules/

    bootstrapFiles:
        - tests/TestCase.php
        - tests/Pest.php

    level: 8
